/* default theme color */
// color Blue
$color-blue-primary: #005dab;
$color-blue-secondary: #2798d5;

$color-primary: #006600;
$color-secondary: #10a44a;
$color-blue: #2997D4;

$color-text: #525252;
$color-light: #eee;
$color-def: #ccc;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;

