//front
.footer{
    position: relative;
    padding: 30px 0;
    margin: 0 auto;
    margin-left: 230px;
    background-color: rgba(255, 255, 255, 1);

    .footer-wrapper{
        margin: 0 auto;
        max-width: 1440px;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .group-footer{
        position: relative;
        display: block;
        width: 1440px;
        max-width: 100%;
        padding: 0;
        margin: 0 auto;

        &:last-child{
            padding-top: 20px;
            border-top: solid 1px $color-def;
        }

        .title-footer{
            display: block;
            margin: 0 0 22px 0;

            .logo{
                display: block;
                margin: 0 0 11px 0;

                a{
                    margin: 0;
                    width: 86px;
                    height: 86px;
                    position: relative;
                    display: block;

                    img{
                        max-width: 100%;
                    }
                }
            }

            .title{
                margin: 0;
                font-weight: $font-medium;
                font-size: 2.4rem;
                line-height: 2.8rem;
                color: $color-primary;
                
            }

            .desc{
                margin: 0;
                font-weight: $font-regular;
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }

        .group-content-footer{
            margin-bottom: 30px;
            .text-content{
                position: relative;
                display: block;
                padding: 0;
                padding-left: 40px;
                font-weight: $font-light;
                font-size: 1.6rem;
                line-height: 2.2rem;
                color: $color-text;

                &:before{
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    height: 2px;
                    width: 30px;
                    position: absolute;
                    pointer-events: none;
                    background-color: $color-text;
                }
            }

            .link-content{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-around;
                padding: 0;
                margin: 10px 0;

                .icon-content{
                    width: 35px;
                    margin-right: 10px;

                    img, svg{
                        width: 35px;
                    }

                    .st0{fill:none;stroke:#525252;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                }

                .link-tel{
                    flex: 1;
                    word-break: break-all;
                    a{
                        font-weight: $font-regular;
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        color: $color-primary;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            text-decoration: none;
                            color: $color-secondary;
                        }
                    }
                }
            }
        }

        .footer-bottom{
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .sitemap{
                margin-bottom: 10px;
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 20px;
                        a{
                            font-weight: $font-regular;
                            font-size: 1.6rem;
                            line-height: 2.2rem;
                            text-align: right;
                            color: $color-primary;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                text-decoration: none;
                                color: $color-secondary;
                            }
                        }
                    }
                }
            }
        }
        .copyright{
            display: block;
            font-weight: $font-regular;
            font-size: 1.6rem;
            line-height: 2.2rem;
            text-align: right;
            color: $color-text;
        }
    }
}

.gototop{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 999;
    transition: all 0.5s ease;
    &.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1.0;
    }

    @media only screen and (max-width: 1366px) {
        right: 50%;
        transform: translateX(-50%);
    }
}

/* =============================================================================================== */
/* ---------------------------------- Cookie Popup CSS ------------------------------------------- */
/* =============================================================================================== */

.cookies-position {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 1009;
    width: max-content;
    
    .cookies-container {
        border: 1px solid rgb(232, 232, 232);
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(0.313vw);
        pointer-events: visible;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .cookies-close {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
        line-height: 24px;
        color: #212529;
        cursor: pointer;

        i {
            font-size: 32px;
            color: #212529;
        }
    }

    .cookies-text {
        font-size: 16px;
        line-height: 24px;
        color: #212529;

        a {
            font-size: 16px;
            line-height: 24px;
            color: $color-blue-primary;

            &:hover {
                color: $color-blue-secondary;
            }
        }
    }

    .cookies-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 20px;
    }

    .cookies-align,
    .cookies-wrapper {
        position: relative;
    }

    .cookie-button{
        padding: 10px 30px;
        color: white;
        text-decoration: none;
        transition: background-color .3s;
        background-color: $color-blue-primary;

        &:hover{
            background-color: $color-blue-secondary;
        }
    }

    @media only screen and (min-width: 1025px) {
        .cookies-align {
            padding: 30px 15px !important;
        }
    }

    @media only screen and (min-width: 993px) and (max-width: 1024px) {
        .cookies-align {
            padding: 16px 1px !important;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .cookies-align {
            padding: 16px 1px !important;
        }
    
        .cookies-button {
            margin-top: 10px;
        }
    }
    
    @media only screen and (max-width: 767px) {
        width: 100%;
        transform: translate(-15%, 0);
        left: 15%;
    
        .cookies-button {
            margin-top: 15px;
        }
    
        .cookies-align {
            padding: 16px 1px !important;
        }
    
        .cookies-container {
            border-radius: 0px;
            margin-bottom: 0px;
            backdrop-filter: none;
        }
    }
    
    @media only screen and (max-width: 575px) {
        bottom: 0;
    }
}